.rodape{
    margin-top: -50px;
    background-color: #2C2E5F;
    height: auto;
}

.containerzao{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 0px 25px 200px;
    box-sizing: border-box;
}

.containerzao img{
    width: 150%;
}

.container-rodape{
    display: flex;
}


.lista{
    display: flex;
    align-items: center;
    width: 50%;
    
}

.lista a img{
    width: 70%; 
    padding: 25px;
}

.insta{
    width: 20%;
}
.link{
    width:20%;
}


.lista button{
    width: 100%;
    padding: 20px 55px;
    font-size: 25px;
}


.texto-footer{
    padding-bottom: 50px;
    width:90%;
    font-size:24px;
    line-height:28px;
    text-align: center;
    color: #FFF;
}

.container-downloads{
    width: 50%;
}

.play-store ,
.app-store {
  width: 5%;
  margin-bottom: 8px;
}

.rodape a{
    text-decoration: none;
    color: #6278f7;
    transition: 0.5s;
}

.rodape a:hover{
    color: #4d67ff;
}

.redes{
    display: none;
}

.redes-block{
    display: flex;
   
}

.redes-block a img{
    width: 105%;
   
}

@media (max-width: 300px){
    .containerzao{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 30px
    }

    .container-rodape{
        width: 50%;
        display: flex;
        flex-direction: column;
    }


    .container-rodape img{
        padding-bottom: 10px;
        width: 100%;
    }

    .redes{
        display: flex;
        
    }

    .linke-hidden img{
        width: 60%;
    }


    .insta-hidden img{
        display: block;
        width: 60%;
    }

    .redes-block{
        display: none;
    }

    .texto-footer{
        width: 100%;
        padding: 10px;
        padding-top: 0px;
        font-size: 14px;
    }

    .container-downloads{
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 100%;
        padding: 0px;
    }

    .container-downloads a{
        width: 100%;
        padding: 0px;
    }

    .play-store, .app-store{
        margin: 0px;
        width: 100%;
        padding: 0px;

    }


    .lista{
        width: 50%;
    }

    .lista a img {
        width: 100%;
        padding: 10px;
    }
}

@media (min-width: 301px) and (max-width: 450px){

    .containerzao{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 30px
    }

    .container-rodape{
        width: 50%;
        display: flex;
        flex-direction: column;
    }


    .container-rodape img{
        padding-bottom: 10px;
        width: 100%;
    }

    .redes{
        display: flex;
        
    }

    .linke-hidden img{
        width: 60%;
    }


    .insta-hidden img{
        display: block;
        width: 60%;
    }

    .redes-block{
        display: none;
    }

    .texto-footer{
        width: 100%;
        padding: 0px;
        font-size: 16px;
    }

    .container-downloads{
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 100%;
    }

    .container-downloads a{
        width: 100%;
    }

    img.play-store{
        margin: 0px;
        width: 100%;
        padding: 0px;
    }

    .lista{
        width: 50%;
    }

    .lista a img {
        width: 100%;
    }
    
}

@media (min-width: 451px) and (max-width: 600px){
    .containerzao{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 30px
    }

    .container-rodape{
        width: 50%;
        display: flex;
        flex-direction: column;
    }


    .container-rodape img{
        padding-bottom: 10px;
        width: 100%;
    }

    .redes{
        display: flex;
        
    }

    .linke-hidden img{
        width: 60%;
    }


    .insta-hidden img{
        display: block;
        width: 60%;
    }

    .redes-block{
        display: none;
    }

    .texto-footer{
        width: 100%;
        padding: 0px;
        font-size: 16px;
    }

    .container-downloads{
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 100%;
    }

    .container-downloads a{
        width: 100%;
    }

    img.play-store{
        margin: 0px;
        width: 100%;
        padding: 0px;
    }

    .lista{
        width: 50%;
    }

    .lista a img {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 768px){
    .containerzao{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 50px;
        padding-bottom: 10px;
    }

    .container-rodape{
        width: 50%;
        display: flex;
        flex-direction: column;
    }


    .container-rodape img{
        padding-left: 80px;
        padding-bottom: 10px;
        width: 110%;
    }

    .redes{
        display: flex;
        
    }

    .linke-hidden img{
        width: 90%;
    }


    .insta-hidden img{
        display: block;
        width: 90%;
    }

    .redes-block{
        display: none;
    }

    .texto-footer{
        width: 100%;
        padding: 0px;
        font-size: 16px;
        padding-bottom: 20px;
    }

    .container-downloads{
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 80%;
        padding: 0px;
    }

    .container-downloads a{
        width: 100%;
    }

    img.play-store{
        margin: 0px;
        width: 100%;
        padding: 0px;
    }

    .lista{
        width: 50%;
    }

    .lista a img {
        width: 100%;
    }
    
}


@media (min-width: 769px) and (max-width: 1024px){
    .containerzao{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 80px;
        padding-bottom: 10px;
    }

    .container-rodape{
        width: 50%;
        display: flex;
        flex-direction: column;
    }


    .container-rodape img{
        padding-left: 80px;
        padding-bottom: 20px;
        width: 90%;
    }

    .redes{
        display: flex;
        
    }

    .linke-hidden img{
        width: 85%;
    }


    .insta-hidden img{
        display: block;
        width: 85%;
    }

    .redes-block{
        display: none;
    }

    .texto-footer{
        width: 100%;
        padding: 0px;
        font-size: 20px;
        padding-bottom: 20px;
    }

    .container-downloads{
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 60%;
        padding: 0px;
    }

    .container-downloads a{
        width: 100%;
    }

    img.play-store{
        margin: 0px;
        width: 100%;
        padding: 0px;
    }

    .lista{
        width: 50%;
    }

    .lista a img {
        width: 100%;
    }
}


@media (min-width: 1025px) and (max-width: 1440px){
    .containerzao{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 80px;
        padding-bottom: 10px;
    }

    .container-rodape{
        width: 50%;
        display: flex;
        flex-direction: column;
    }


    .container-rodape img{
        padding-left: 80px;
        padding-bottom: 20px;
        width: 70%;
    }

    .redes{
        display: flex;
        
    }

    .linke-hidden img{
        width: 88%;
    }


    .insta-hidden img{
        display: block;
        width: 88%;
    }

    .redes-block{
        display: none;
    }

    .texto-footer{
        width: 100%;
        padding: 0px;
        font-size: 20px;
        padding-bottom: 20px;
    }

    .container-downloads{
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 50%;
        padding: 0px;
        margin-left: 20px;
    }

    .container-downloads a{
        width: 100%;
    }

    img.play-store{
        margin: 0px;

        padding: 0px;
    }

    .lista{
        width: 50%;
    }

    .lista a img {
        width: 100%;
    }
}

