.introduction-container {
    display:flex;
    background-color:#FFF;
    margin-top: 10px;
}

.img-introduction{
    padding: 30px;
    width: 60%;
    background-size: cover;
    box-sizing: border-box;
}

.img-introduction img{
    margin-top: 20px;
}

.text{
    background-color: #fff;
    margin:200px 120px 0;
    width:60%;
}


h1{ 
    font-size:55px;
    color:#323070;
}

p{
    margin:20px 0;
    width:90%;
    font-size:24px;
    line-height:28px;
}

.btn-introduction{
    margin-top:20px;
    font-size:20px;
    padding:auto 40px;
}

.btn-top{
    width: 300px;
    height: 75px;
    margin-top: 60px;
    padding:20px 45px;
    border-radius:50px;
    border:none;
    background-color: #6B7AE5;
    color:hsl(0, 0%, 100%);
    cursor:pointer;
    font-size:28px;
    font-weight: 600;
}

.btn:hover{
    opacity:0.8;
}






