.introduction-container {
    display:flex;
    background-color:#FFF;
    padding-top: 100px;
    width: 100%;
    padding-bottom: 60px;
}

.img-introduction{
    background-image: url('../../assets/bgIntro.svg');
    padding: 30px;
    width: 60%;
    background-size: cover;
    box-sizing: border-box;
}

.img-introduction img{
    margin-top: 20px;
}

.text{
    background-color: #fff;
    margin:200px 120px 0;
    width:60%;
}


h1{ 
    padding-bottom: 25px;
    font-size:50px;
    color:#323070;
}

.p-introducao{
    padding: 25px 0 30px 0;
    width:90%;
    font-size:24px;
    line-height:28px;
}

.botao-intro{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 30px;
}

.botao-intro button{
    width: 100%;
    font-size: 28px;
    margin: 0 auto;
    
}

.img-introduction-hidden{
    display: none;
}

.img-introduction-hidden2{
    display: none;

}

@media (max-width: 300px){

    .introduction-container {
        margin: 0px;
        flex-direction: column-reverse;
        background-color: transparent;
    }
    
    .img-introduction-hidden{
        background-image: url('../../assets/bg-cel320.svg');
        display:flex;
        background-position: right;
        background-size: 80%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .img-introduction-hidden img{
        width: 80%;
        padding-top: 20px;
        
    }

    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        margin: 0px;
        width: 100%;
    }

    .img-introduction{
        display: none;
    }

    h1{
        width: 100%;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }

    .text p{
        width:100%;
        padding: 0px auto;
        font-size:16px;
        text-align: center;
    }
    

    .container button{
        width: 110%;
        padding: 20px 40px;
        font-size: 16px;
    }

    .botao-intro{
        justify-content: center;
        display: flex;
        align-items: center;

    }

    .img-introduction-hidden2{
        display: none;
    }
}

@media (min-width: 301px) and (max-width: 450px){

    .introduction-container {
        margin: 0px;
        flex-direction: column-reverse;
        background-color:transparent;

    }
    
    .img-introduction-hidden{
        background-image: url('../../assets/bg-cel320.svg');
        display:flex;
        background-position: right;
        background-size: 80%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .img-introduction-hidden img{
        padding-top: 20px;
        
    }

    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        margin: 0px;
        width: 100%;
    }

    .img-introduction{
        display: none;
    }

    h1{
        width: 100%;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }

    .text p{
        width:100%;
        font-size:16px;
        text-align: center;
    }
    

    .container button{
        width: 100%;
        padding: 20px 58px;
        font-size: 18px;
    }

    .botao-intro{
        justify-content: center;
        display: flex;
        align-items: center;

    }

    .img-introduction-hidden2{
        display: none;
    }

}

@media (min-width: 451px) and (max-width: 600px){
    
    .introduction-container {
        margin: 0px;
        flex-direction: column-reverse;
        background-color:#FFF;

    }
    
    .img-introduction-hidden2{
        padding-top: 30px;
        background-image: url('../../assets/bg-cel320.svg');
        display:flex;
        background-position: right;
        background-size: 80%;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;

    }

    .img-introduction-hidden img{
        padding-top: 20px;
        
    }

    .text{
        display: flex;
        background-color: transparent;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        margin: 0px;
        width: 100%;
    }

    .img-introduction{
        display: none;
    }

    h1{
        width: 100%;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }

    .text p{
        width:100%;
        font-size:16px;
        text-align: center;
    }
    

    .container button{
        width: 100%;
        padding: 20px 58px;
        font-size: 18px;
    }

    .botao-intro{
        justify-content: center;
        display: flex;
        align-items: center;

    }
}

@media (min-width: 601px) and (max-width: 768px){
    .introduction-container {
        margin: 0px;
        display: flex;
        background-color:#FFF;

        padding-left: 50px;
        
    }

    .img-introduction{
        background-image: url('../../assets/bgIntro.svg');
        display:flex;
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .text{
        margin: 0px;
        padding: 30px;
        width: 50%;
    }
    
    .text h1{

        font-size:28px;
    }

    .text p{
        font-size: 20px;
    }

    #celulares{
        width: 80%;
    }

    .container button{
        width: 100%;
        padding: 20px 58px;
        font-size: 18px;
    }

    .botao-intro{
        display: flex;
        align-items: center;

    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .introduction-container {
        display:flex;
        background-color:#FFF;
        width: 100%;

        padding: 0px;
    }
    
    .img-introduction{
        background-image: url('../../assets/bgIntro.svg');
        padding: 30px;
        width: 60%;
        background-size: cover;
        box-sizing: border-box;
    }
    
    .img-introduction img{
        margin-top: 20px;
    }
    
    .text{
        background-color: #fff;
        width:50%;
        padding-left: 80px;
        padding-top: 100px;
        margin: 0px;
    }
    
    
    h1{ 
        padding-bottom: 20px;
        font-size:30px;
        color:#323070;
    }
    
    .p-introducao{
        padding: 25px 0 30px 0;
        width:90%;
        font-size:22px;
        
    }
    
    .botao-intro{
        display: flex;
        width: 100%;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .botao-intro button{
        width: 100%;
        font-size: 20px;
        margin: 0 auto;
        padding: 20px 70px;
    }

    #celulares{
        width: 90%;
    }
    
    .img-introduction-hidden{
        display: none;
    }
    
    .img-introduction-hidden2{
        display: none;
    }
    
}

@media (min-width: 1025px) and (max-width: 1440px){
    .introduction-container {
        display:flex;
        background-color:#FFF;
        width: 100%;

        padding: 0px;
        margin-bottom: 50px;
    }
    
    .img-introduction{
        background-image: url('../../assets/bgIntro.svg');
        padding: 30px;
        width: 60%;
        background-size: cover;
        box-sizing: border-box;
        
    }
    
    .img-introduction img{
        margin-top: 20px;
    }
    
    .text{
        background-color: #fff;
        width:50%;
        padding-left: 80px;
        padding-top: 150px;
        margin: 0px;
    }
    
    
    h1{ 
        padding-bottom: 20px;
        font-size:30px;
        color:#323070;
    }
    
    .p-introducao{
        padding: 25px 0 30px 0;
        width:90%;
        font-size:22px;
        
    }
    
    .botao-intro{
        display: flex;
        width: 100%;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .botao-intro button{
        width: 100%;
        font-size: 20px;
        margin: 0 auto;
        padding: 20px 70px;
    }

    #celulares{
        width: 90%;
    }
    
    .img-introduction-hidden{
        display: none;
    }
    
    .img-introduction-hidden2{
        display: none;
    }
    
}