.popup{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
   display: flex;
   justify-content: center;
   align-items: center;

}

.btn-hidden{
    display: none;
}

.popup-inner {
    border-radius: 20px;
    position: relative;
    padding: 2%;
    width: 100%;
    max-width: 640px;
    background-color: white;
}

.popup-inner h3{
    color: #323070;
    padding-bottom: 15px;
    font-size: 25px;
    padding-left: 8px;
}

.popup-inner button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 10%;
    padding: 16px;
    height: 10%;
}

.popup-inner button img{
    width: 70%;
    
}

.logo-popup{
    padding-bottom: 15px;
}

.popup-inner p{
    font-size: 20px;
    padding-left: 8px;
    padding-bottom: 20px;
}

.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}

@media (max-width: 600px){
    .popup-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        position: relative;
        padding: 2%;
        width: 70%;
        max-width: 640px;
        background-color: white;
    }

    .popup-inner h3{
        color: #323070;
        padding-bottom: 15px;
        text-align: center;
        font-size: 18px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .close-btn{
        display: none;
    }

    .btn-hidden{
        display: block;
    }
    
    .popup-inner button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        width: 35%;
        padding: 16px;
        height: 10%;
    }
    
    
    .logo-popup{
        padding-bottom: 15px;
    }
    
    .popup-inner p{
        font-size: 16px;
        padding-bottom: 20px;
        text-align: center;
        padding-left: 8px;
        padding-right: 8px;
    }
}


