@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container-form{
    padding-top: 40px;
    background-image: url('./backGround1.svg');
    background-position: bottom;
    width: 100%;
    background-size: cover;
    display: flex;
    padding-bottom: 10%;
    

}

.formatacao {
    font-family: 'Montserrat', sans-serif;
}

.imagem-logo{
    display: block;
    padding-left:10em;
    width: 25%;
}

.imagem-email{
    padding-left: 10em;
    box-shadow: 12px 139px 43px -125px rgba(0,0,0,0.38);
}


.formulario {
    width: 35%;
    background-color: #fff;
    height: auto;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 80px;

}

.segundo-titulo{
    font-size: 32px;
}

.formulario form{
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}


.container-botao{
    display: flex;
    justify-content: center;
}

.botao-form{
    background-color: #6278f7;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    font-size: 24px;
    padding: 25px;
    color: #FFF;
    cursor: pointer;
    transition: 0.5s;
}

.botao-form:hover{
    color: #323070
}

