.container-escolha{
    display: flex;
    flex-direction: column;
    background-color: #6b79e52c;
    padding-top: 40px;
    padding-bottom: 40px;
    height:auto;
}

.text2{
    padding: 0 0 60px 0;
    margin-left:120px;
    
}

h2{
    padding: 40px 0 50px 0;
    color: #323070;
    font-size: 50px;
}

.primeiro-paragrafo{
    font-size: 26px;
}

.text2 p {
    width:45%;
}

.cards-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-left: 115px;
    box-sizing: border-box;
    padding-bottom: 60px;
    
}

.cards{

    width: 25%;
    text-align:left;
}

.cards img{
    width: 25%;
}

.texto-descritivo {
    font-size: 25px;
}

.title{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    color:#323070;
}

.p-cards {
    width:90%;
    font-size: 21px;
}

.cards img{
margin:40px 0;  
}

.title{
font-size:23px;
}

.articles-container{
background-color:#FFF;
height:800px;
}

.cards-flex{
display:flex;
margin:20px 60px;
}

@media (max-width: 450px){
    .container-escolha{
        margin: 0px;
        padding: 30px;
    }

    .text2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    h2{
        margin: 0px;
        width: 100%;
        font-size: 20px;
        text-align: center;
         font-weight: bold;
    }

    .text2 p{
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .texto-descritivo{
        padding-right: 30px;
        padding-left: 30px;
        font-size:16px;
    }

    .p-introducao{
        padding: 25px 0 30px 0;
        width:80%;
        font-size:16px;
        text-align: center;
    }

    .cards-container{
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .cards-container img{
        width: 30%;
    }

    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .p-cards{
        text-align: center;
        font-size:16px;
    }
    
    .title{
        font-size: 18px;
    }


}

@media (min-width: 451px) and (max-width: 600px){
    .container-escolha{
        margin: 0px;
        padding: 30px;
    }

    .text2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }

    h2{
        margin: 0px;
        width: 100%;
        font-size: 20px;
        text-align: center;
         font-weight: bold;
    }

    .text2 p{
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .texto-descritivo{
        padding-right: 30px;
        padding-left: 30px;
        font-size:16px;
    }

    .p-introducao{
        padding: 25px 0 30px 0;
        width:80%;
        font-size:16px;
        text-align: center;
    }

    .cards-container{
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .cards-container img{
        width: 30%;
    }

    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .p-cards{
        text-align: center;
        font-size:16px;
    }
    
    .title{
        font-size: 18px;
    }

}

@media (min-width: 601px) and (max-width: 768px){
    .container-escolha{
        padding: 0px;
        align-items: flex-start;
    }

   
    h2{
        margin: 0px;
        width: 100%;
        font-size: 26px;
        font-weight: bolder;
    }

    .text2 p{
        margin: 0px;
        padding: 0px;
        width: 90%;
        font-size: 20px;
        
    }

    .cards-container{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        padding: 0px;
        box-sizing: border-box;

    }
}