.container-escolha{
    display: flex;
    flex-direction: column;
    background-color: #6b79e52c;
    padding-bottom: 20px;
    height:auto;
}

.text2{
    margin-left:120px;
    
}

h2{
    color: #323070;
    font-size: 50px;
    padding-top: 1em;
}

.primeiro-paragrafo{
    font-size: 26px;
}

.text2 p {
    width:45%;
}

.cards-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-left: 115px;
    box-sizing: border-box;
    padding-bottom: 40px;
    
}

.cards{

    width: 25%;
    text-align:left;
}

.cards img{
    width: 25%;
}

.texto-descritivo {
    font-size: 25px;
}

.title{
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    color:#323070;
}

.cards p {
width:90%;
}

.cards img{
margin:40px 0;  
}

.cards span{
font-size:23px;
}

.articles-container{
background-color:#FFF;
height:800px;
}

.cards-flex{
display:flex;
margin:20px 60px;
}