.menu{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #FFF;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 100px 0 100px;
    box-sizing: border-box;
}


.menu img{
    width: 220%;
}

.list {
    display: flex;
}

.menu li {
    font-size: 26px;
    margin-right: 25px;
    font-weight: 500;
    display: inline-block;
    transition: color 0.25s ease;
    cursor: pointer;
}

.menu li:hover{
    color: #323070;
}

.menu button{
    background-color: transparent;
    width: 200px;
    height: 50px;
    border: 2px solid #323070;
    color: #323070;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.menu button:hover{
    color: white;
    background-color: #323070;
    box-shadow: 0px 0px 17px -5px #323070;
}