.menu{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #FFF;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 100px 0 100px;
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
 
:target {
  scroll-margin-top: .8em;
}

.menu img{
    width: 220%;
}

.list {
    display: flex;
    align-items: center;
}

.menu li {
    font-size: 26px;
    margin-right: 25px;
    font-weight: bold;
    display: inline-block;
    transition: color 0.25s ease;
    cursor: pointer;
}

.menu li:hover{
    color: #323070;
}

.menu a{
    color: #000;
}

.menu a:hover{
    color: #323070;
}

.menu button{
    padding: 15px;
    background-color: transparent;
    border: 2px solid #323070;
    color: #323070;
    font-size: 24px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.menu button:hover{
    color: white;
    background-color: #323070;
    box-shadow: 0px 0px 17px -5px #323070;
}

  
@media (max-width: 430px){
    .menu{
        margin: 0px;
        width: 100%;
        background-color: #FFF;
        margin: auto;
        height: auto;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        padding: 0 100px 0 100px;
        box-sizing: border-box;
    }

    .menu img{
        width: 100%;
    }

    .menu button{
        display: none;
        width: 20%;
    }

    #contato, #sobre{
        display: none;
    
    }


}