.campo-texto{
    margin: 24px 0;

}


.campo-texto input {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    padding-left: 0px;
    box-sizing: border-box; /* trick para ajustar o tamanho dos itens que vazam da tela */
}